# Directories
venv/
models/*

# Files
.env
.ipynb_checkpoints
pipeline.conf
!models/.gitkeep
data/dispute-dataframes/*.json
data/dispute-final-out/*.xlsx
data/dispute-predictions/*.json
data/nu-api-data-raw/*.json
data/mediation_search_results*